extends components/base.pug

block content 
    main
        .container.py-4
            .p-5.mb-4.bg-body-tertiary.rounded-3
                .container-fluid.py-3
                    img(src="/img/logo-dark.png", alt="Logo de Emprendedores Universitarios", width='200px', style="position: relative; left: -15px;")
                    h1.display-5.fw-bold Emprendedores Universitarios
                    p.col-md-8.fs-4 La sección especializada de la Cámara de Comercio de Guadalajara que vincula a empresarios que cursan la universidad.
                    a.btn.btn-primary.btn-lg.call-to-action(type="button", href="/afiliacion", style="color: white !important;") Solicitar afiliación

            .row.align-items-md-stretch.g-3
                .col-md-6
                    .p-5.rounded-3.bg-body-tertiary.h-100
                        h2 Contacto
                        p Contáctanos por medio de Instagram.
                        a.btn.btn-secondary(type="button", href="https://ig.me/m/euccgdl", target="_blank") Iniciar chat <i class="bi bi-box-arrow-up-right ms-2"></i>
                .col-md-6
                    .h-100.p-5.bg-body-tertiary.rounded-3
                        h2 Enlaces
                        .list-group 
                            a.list-group-item.list-group-item-action(href="https://linktr.ee/euccgdl", target="_blank") Linktree
                            a.list-group-item.list-group-item-action(href="https://airtable.com/appwPwxy0ng15Ygab/shrUJ4QWyEZIQMZHL", target="_blank") Calendario oficial
                            a.list-group-item.list-group-item-action(href="https://www.camaradecomerciogdl.mx/#/", target="_blank") Cámara de Comercio de Guadalajara
