extends components/base.pug

block content 
    .container(style="height: 50vh")
      h1 Afiliación a Emprendedores Universitarios 
      p.fst-italic.fs-4.mt-4 Cagrgando formulario de registro...

block scripts 
    script.
      window.location.href = 'https://airtable.com/appwPwxy0ng15Ygab/pagVJhZ3KlCWgLBem/form'
